
<div class="block">

  <div class="button">

        <ul class="icon">
			<li><a class="icon-facebook" data-count-raw="10125" data-count="10.1K" title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://www.colorhexa.com/"><span>Facebook</span></a></li>
			<li><a class="icon-twitter" data-count-raw="0" data-count="0" title="Share on Twitter" href="http://www.twitter.com/intent/tweet?url=http://www.colorhexa.com/&amp;text=Color%20Hex%20Encyclopedia%20:%20conversion%20and%20information."><span>Twitter</span></a></li>
			<li><a class="icon-google-plus" data-count-raw="2653" data-count="2.7K" title="Share on Google+" href="https://plus.google.com/share?url=http://www.colorhexa.com/"><span>Google+</span></a></li>
		</ul>

    </div>
</div>

